# Virtual environment
.venv/

# Environment variables and secrets
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual enviroment
.venv/

# Enviroment variables and secrets
.env


# Pytest cache
.pytest_cache/

# Coverage files
.coverage
htmlcov/

# Build / distribution files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
